.a{
    background-color: rgb(27, 26, 26);
}
.a1{
    background-color:black;
}
img{
    height: 250px;
    width: 250px;
}
footer{
    background-color: rgb(0, 0, 0);
    
}
.d{
    text-align: center;
}
.m{
    text-align: center;
    margin-top: 50px;
}
.ul{
    margin-left: 450px;
}
.ul1{
   margin-left: 450px;
}
